.account{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3%;
    right: 10%;
    height: 58px;
    min-width: 196px;
    max-width: max-content;
    background-color: rgb(14, 13, 13);
    color: white;
    border-radius: 41px;
    cursor: pointer;
    padding: 20px;
    border: 1px solid white;
}
.accountLogout{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3%;
    right: 2%;
    height: 58px;
    width: 100px;
    background-color: rgb(14, 13, 13);
    color: white;
    border-radius: 41px;
    cursor: pointer;
    padding: 20px;
    border: 1px solid white;
}
.accountLogout:hover{
    height:60px;
    width:102px;
}
.account>a{
    text-decoration: none;
    color: white;
}
.account:hover{
    height:60px;
    width:198px;
}
.account1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3%;
    right: 8%;
    height: 10px;
    min-width: 196px;
    max-width: max-content;
    background-color: rgb(14, 13, 13);
    color: white;
    border-radius: 41px;
    cursor: pointer;
    padding: 20px;
    border: 1px solid white;
}
.account1>a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.account1:hover{
    height:12px;
    width:198px;
}